.rrr {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.ccc {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.c50 {
    -ms-flex: 33%; /* IE10 */
    flex: 33%;
}

.c75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.c25,
.c50,
.c75 {
    padding: 0 16px;
}

.ctn {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text1] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btnnn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btnnn:hover {
    background-color: #45a049;
}

span.price {
    float: right;
    color: grey;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .rrr {
        flex-direction: column-reverse;
    }

    .c25 {
        margin-bottom: 20px;
    }
}
#visa {
    color: navy;
    margin-right: 5px;
}
#amex {
    color: blue;
    margin-right: 5px;
}
#mastercard {
    color: red;
    margin-right: 5px;
}
#discover {
    color: orange; 
    margin-right: 5px;
}
#pr{color:black}