a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.container {
    position: relative;
}

#cart {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 5px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    right:5%;
}

#toggle{
    right: 50px;
    position: absolute;
}

#logo-nav {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
    position: absolute;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC !important;
    padding: 5px;
    height: 20px;
    border-radius: 20px 0 0 20px !important;
    outline: none;
    color: #9DBFAF;

}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 36px;
    height: 36px;
    border: 3px solid #00B4CC;
    background: #00B4CC;
    text-align: left;
    color: #fff;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 15px;
    margin: 5px 0px 5px 0px;
    text-align: center;
}


/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    left: 300px;
}
